# Comienzo el análisis de los datos

Cargo las librerías, como voy a graficar además de pandas voy a usar matplotlib y folium (para el mapa)

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import folium

Matplotlib is building the font cache; this may take a moment.

Cargo la base de datos de recorridos y usuarios

In [2]:
recorridos_usuarios_3meses = pd.read_csv("../data/processed/recorridos_usuarios_3meses.csv", sep=',', encoding='utf-8')

In [4]:
recorridos_usuarios_3meses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285581 entries, 0 to 285580
Data columns (total 22 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   id_usuario                  285581 non-null  int64
 1   genero_usuario              285581 non-null  object
 2   edad_usuario                285581 non-null  int64
 3   fecha_alta                  285581 non-null  object
 4   hora_alta                   285581 non-null  object
 5   id_recorrido                285581 non-null  int64
 6   duracion_recorrido          285581 non-null  int64
 7   fecha_origen_recorrido      285581 non-null  object
 8   id_estacion_origen          285581 non-null  int64
 9   nombre_estacion_origen      285581 non-null  object
 10  direccion_estacion_origen   285581 non-null  object
 11  long_estacion_origen        285581 non-null  float64
 12  lat_estacion_origen         285581 non-null  float64
 13  fecha_destino_recorrido     285581 non-null  object
 14  id_estacion_destino         285581 non-null  int64
 15  nombre_estacion_destino     285581 non-null  object
 16  direccion_estacion_destino  285581 non-null  object
 17  long_estacion_destino       285581 non-null  float64
 18  lat_estacion_destino        285581 non-null  float64
 19  modelo_bicicleta            285581 non-null  object
 20  genero                      285581 non-null  object
 21  duracion_viaje_minutos      285581 non-null  float64
dtypes: float64(5), int64(6), object(11)
memory usage: 47.9+ MB

# Preguntas

## ¿Cuál fue la cantidad total de viajes realizados por usuarios de entre 25 y 35 años durante los tres meses seleccionados?

Para responder voy a crear 2 variables, edad_inicial y edad_final con esos valores, voy a filtrar y voy a contar los viajes

In [5]:
edad_inicio = 25
edad_final = 35

recorridos_entre_25y35 = recorridos_usuarios_3meses[((recorridos_usuarios_3meses['edad_usuario']) >= edad_inicio) 
                                                    & ((recorridos_usuarios_3meses['edad_usuario']) <= edad_final)]

In [11]:
# Cantidad total de viajes
total_recorridos_25y35 = recorridos_entre_25y35.shape[0]
print(f"La cantidad de recorridos que realizaron las personas entre 25 y 35 años en los meses de julio, agosto y septiembre fue: {total_recorridos_25y35}")

La cantidad de recorridos que realizaron las personas entre 25 y 35 años en los meses de julio, agosto y septiembre fue: 80952

## ¿Cuáles fueron las 5 estaciones de inicio con mayor cantidad de viajes en esos tres meses?

Voy a agrupar las estaciones, y voy a tomar las 5 estaciones con mas viajes, las muestro en la tabla porque voy a usar esos datos para hacer los gráficos

In [13]:
# Agrupar por estación de inicio, latitud y longitud
top5_estaciones = (
    recorridos_usuarios_3meses.groupby(["id_estacion_origen", "nombre_estacion_origen", "lat_estacion_origen", "long_estacion_origen"])
    .size()
    .reset_index(name="cantidad_viajes")
    .sort_values("cantidad_viajes", ascending=False)
    .head(5)
)

# Mostrar el resultado
top5_estaciones

,id_estacion_origen,nombre_estacion_origen,lat_estacion_origen,long_estacion_origen,cantidad_viajes
334,516,368 - PLAZA DE LA SHOÁ,-34.570998,-58.423347,4603
10,14,014 - Pacifico,-34.577424,-58.426387,3769
3,5,005 - Plaza Italia,-34.580550,-58.420954,3736
97,152,152 - JULIETA LANTERI,-34.618164,-58.359631,3639
333,515,294 - PLAZOLETA RÍO DE LA PLATA,-34.574246,-58.414655,3320